# 忽略IDEA项目文件
.idea/
*.iml
*.ipr
*.iws

# 忽略Java编译生成的文件
*.class
*.jar  # 忽略 .jar 文件
target/
out/

# 忽略临时文件和系统文件
*.tmp
*.log
*.swp
*.swo
*.lock
Thumbs.db
.DS_Store

# 忽略其他常见的构建工具和IDE生成的文件
.gradle/
build/
project/
settings.gradle
gradle-wrapper.jar
gradlew
gradlew.bat

# 忽略Maven相关文件
pom.xml
pom.properties
pom-local.properties
mvnw
mvnw.cmd
.mvn/

# 忽略其他临时文件和配置文件
*.bak
*.orig
*.rej
*.patch
*.sublime-project
*.sublime-workspace
*.sublime-settings
*.sublime-keymap
*.sublime-mousemap
*.sublime-theme
*.sublime-menu
*.sublime-completions
*.sublime-package
*.sublime-snippet
*.sublime-tmpl

# 忽略错误日志文件
hs_err_pid*
replay_pid*

# 保留Java源文件、Markdown文件和 .gitignore 文件
!*.java
!*.md
!.gitignore